# Relatorio de analise VII

## Criando Agrupamentos

In [5]:
import pandas as pd

In [6]:
dados = pd.read_csv('Aluguel/aluguel_residencial.csv',sep = ';')

In [7]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

https://pandas.pydata.org/docs/reference/frame.html

In [8]:
dados['Valor'].mean()

5046.172821405663

In [9]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [10]:
dados['Bairro'].drop_duplicates()

0          Copacabana
5     Barra da Tijuca
15             Tijuca
19            Ipanema
23           Botafogo
27             Leblon
78           Flamengo
Name: Bairro, dtype: object

In [11]:
grupo_bairro  = dados.groupby('Bairro')

In [12]:
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [14]:
for bairro, dados in grupo_bairro:
    print(f'{bairro} -> {dados.Valor.mean()}/{da}')

Barra da Tijuca -> 7069.552938130986
Botafogo -> 8791.828178694159
Copacabana -> 4126.677004538578
Flamengo -> 4113.526610644258
Ipanema -> 9352.001133786847
Leblon -> 8746.344992050874
Tijuca -> 2043.52

In [17]:
grupo_bairro[['Valor','Condominio']].mean().round(2)

                   Valor  Condominio
Bairro
Barra da Tijuca  7069.55     3591.01
Botafogo         8791.83      976.28
Copacabana       4126.68     1148.68
Flamengo         4113.53     1102.15
Ipanema          9352.00     2244.44
Leblon           8746.34     2107.18
Tijuca           2043.52      711.69