In [1]:
import pandas as pd

In [3]:
s  = pd.Series(list('ASDASDASDASDASDASDASD'))
s

0     A
1     S
2     D
3     A
4     S
5     D
6     A
7     S
8     D
9     A
10    S
11    D
12    A
13    S
14    D
15    A
16    S
17    D
18    A
19    S
20    D
dtype: object

In [4]:
s.unique()

array(['A', 'S', 'D'], dtype=object)

In [5]:
s.value_counts()

A    7
S    7
D    7
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64